.sous-navebar{
  /* background-color: chocolate; */
  background-image:  url(/../image/background-2354151_1920.jpg);
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  height: 250px;
}

  
  .linkss li{
    
    list-style: none;
    text-decoration: none;
    display: inline;
    padding: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
   
  }
  
  .linkss li:hover{
    color: rgb(0, 102, 255);
  }
  #serach{
  
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 200px;
    margin-left: 800px;
    color:whitesmoke;
    cursor: pointer;
    padding-right: 3px;
    margin-left: 10px;
  }
  
   
  .linkss {
    padding-left: 0px;
    margin-top: 200px;
 
    
  }
  
  .imageLogo{
    height: 100px;
  }
  
  
  .search{
    margin-left: 900px;
     
  }
  
   .searchInput{
  
    transition: width 0.5 ease-in;
    border: 1px solid #FFC700;
    border-radius: 3px;
  
  }